@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@keyframes maskAnimation
  0%
    opacity 1
  50%
    opacity .3
  100%
    opacity 1

@keyframes arrowFly
  0%
    transform: translateX(0px)
  50%
    transform: translateX(10px)
  100%
    transform: translateX(0px)